.dashboard {
  background-color: white !important;
}

aside {
  border-right: solid 2px black;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.profile .img-box {
  position: relative;
  width: 100px;
  height: 100px;
}

.profile .img-box::before {
  content: "";
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  z-index: 0;
}

.profile img {
  filter: invert(1);
}

.buttons {
  display: flex;
  gap: 0.6rem;
}

.buttons button {
  padding: var(--button-padding);
  display: flex;
  gap: 0.6rem;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
}

.buttons button:hover {
  color: white;
  background-color: black;
}

.buttons button:hover img {
  filter: invert(1);
}

.buttons .assign {
  background-color: var(--teritiary-color);
}

.buttons .switch {
  background-color: var(--secondary-color);
}

.buttons button img {
  height: 40px;
}

select,
input {
  border: solid 2px rgb(122, 122, 122);
  padding: 0.4rem 0.8rem;
  background-color: white;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: solid 2px grey;
  padding: 1.6rem;
  border-radius: 10px;
}

.fields {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btm {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: solid 2px grey;
  border-radius: 10px;
}

.btm-title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  border-bottom: solid 2px grey;
  padding: 0.6rem 1.6rem;
}

.btm-title img {
  height: 60px;
}

.notes {
  padding: 0.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.type-box {
  padding: 1.6rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.type-box textarea {
  height: 300px;
  padding: 0.4rem;
}

.type-box .btn {
  display: flex;
  justify-content: end;
}

.type-box button {
  width: max-content;
  padding: var(--button-padding);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.type-box button:hover {
  background-color: black;
}
