header {
  color: white;
  background-color: var(--primary-color);
}

header .wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 80px;
}

header .wrapper .dol {
  height: 40px;
  filter: invert(1);
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
  list-style-type: none;
}

aside ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.6rem;
  padding: 0.6rem;
  transition: background-color 0.2s;
}

aside ul li a:hover {
  background-color: black;
  color: white;
}

aside ul li a:hover img {
  filter: invert(1);
}

.on {
  background-color: var(--primary-color);
  color: white;
}

.on img {
  filter: invert(1);
}

aside ul li a img {
  height: 36px;
}

main {
  grid-area: main;
}

.dashboard {
  background-color: #e5e5e5;
  padding-bottom: 2.6rem;
}

.dashboard .dash {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
}

.dash .dash-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.dash .dash-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: white;
  padding: 1.4rem;
}

footer {
  grid-area: footer;
  background-color: rgb(0, 0, 0);
}

footer .wrapper {
  padding-block: 3.2rem;
  text-align: center;
  color: white;
}
