.dashboard {
  padding-bottom: 4.8rem !important;
}

.dash .dash-head {
  justify-content: space-between;
}

.dash .dash-head a {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  height: 100%;
  padding: var(--button-padding);
  border-radius: 5px;
  gap: 0.6rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dash .dash-head a:hover {
  background-color: black;
}

.dash .dash-head a img {
  height: 30px;
  filter: invert(1);
}

.dash-info .dash-info-head {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  list-style-type: none;
}

.dash-info .dash-info-head li button {
  border: none;
  background-color: unset;
  cursor: pointer;
}

.fil-on {
  color: var(--primary-color);
  border-bottom: solid 2px var(--primary-color) !important;
}

.dash-info .dash-info-head .s-title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.dash-info .dash-info-head .s-title img {
  height: 30px;
}

.dash-info table {
  text-align: left;
  border-collapse: collapse;
}

.dash-info table th,
.dash-info table td {
  padding: 0.4rem;
}

tr {
  border: solid 2px rgb(139, 139, 139);
}

.dash-info table th {
  background-color: rgb(240, 240, 240);
}

.type {
  text-align: center;
}

.sup,
.sale {
  border-radius: 5px;
  padding: var(--button-padding);
}

.sup {
  color: white;
  background-color: var(--primary-color);
}

.sale {
  background-color: var(--secondary-color);
}
